body {
    /*si la quiero en todos los componentes
    background-image: linear-gradient(rgba(5,7,12,0.1),rgba(5,7,0,0.1)), url('https://1.bp.blogspot.com/-dBbCR0XMBL4/USOq__wM57I/AAAAAAAABDo/1iS6_7rrjcs/s1600/pokemon-wallpaper-video-game-juego-programa-de-tv-serie-pikachu-anime-manga-infantil+[imagenesyfondoshd.blogspot.com].jpg'); */

}
.container {
    /*background-image: url('https://1.bp.blogspot.com/-dBbCR0XMBL4/USOq__wM57I/AAAAAAAABDo/1iS6_7rrjcs/s1600/pokemon-wallpaper-video-game-juego-programa-de-tv-serie-pikachu-anime-manga-infantil+[imagenesyfondoshd.blogspot.com].jpg');
    opacity:0.4; 
    background-position: center;
    background-size: cover;
    background-repeat: none; */
    background-image: url('./images/fondoPokemon.jpg');
    background-attachment: fixed;
    background-size: cover; 
}

.inside {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    font-weight: bold;
    font-size: 40px;
    color: ivory;
    text-shadow: #f83 -1px 1px, rgb(20, 20, 19) -2px 2px, #f83 -3px 3px, #f83 -4px 4px, #f83 -5px 5px;
    letter-spacing: 1px;
}
/*.inside h1 {
    font-weight: bold;
    color: #000000;
} */
/*    linear-gradient(to right, #243949 0%, #517fa4 100%);
    <img src='./images/fondoPokemon.jpg' />
*/

/*.container img {
    opacity:0.4;
    :alpha(opacity=40); 
} */

.btn {
    position: absolute;
    overflow: hidden;
    top: 80%;
    min-width: 300px;
    height: 150px;
    color: rgb(255, 255, 255);
    padding: 19px 36px;
    font-weight: bold;
    font-size: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    border-radius: 40px;
    border: none;
    background-size: 100% auto;
    background-image: linear-gradient(315deg, #fdfdfd 0%, #195aab 75%);
    text-shadow: #f83 -1px 1px, rgb(20, 20, 19) -2px 2px, #f83 -3px 3px, #f83 -4px 4px, #f83 -5px 5px;
    margin: 0 auto;

}
.btn:hover {
    background-position: right center;
    transform: scale(1.1);
    color: #b61414;
    background-image: linear-gradient(315deg, #195aab 0%, #ffffff 75%);
}